<footer role="contentinfo" class="footer">
  <nav role="navigation" class="footer__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="/journal" title="Posts and essays" class="navigation__link">Journal</a></li>
      <li class="navigation__item"><a href="/contact" title="Contact and stuff" class="navigation__link">On the web</a></li>
    </ul>

    {% include "secondary-footer-nav.njk" %}
  </nav>
</footer>
