<ul class="navigation__list">
  <li class="navigation__item"><a href="/journal" title="Posts and essays" class="navigation__link">Journal</a></li>
  <li class="navigation__item"><a href="/contact" title="Contact and stuff" class="navigation__link">On the web</a></li>
  <li class="navigation__item"><a href="/credits" title="Licenses and stuff." class="navigation__link">Credits</a></li>
  <li class="navigation__item"><a href="/feed.xml" class="navigation__link">Feed</a></li>
</ul>