<footer role="contentinfo" class="footer">
  <nav role="navigation" class="footerNav">
    <ul class="footerNav__list">
      <li class="footerNav__item"><a href="/writings" title="Posts and essays" class="footerNav__link">Writings</a></li>
      <li class="footerNav__item"><a href="/contact" title="Contact and stuff" class="footerNav__link">On the web</a></li>
    </ul>

    {% include "secondary-footer-nav.njk" %}
  </nav>
</footer>
