<ul class="navigation__list navigation__list--secondary">
  <li class="navigation__item"><a href="/credits" title="Licenses and stuff." class="navigation__link">Credits</a></li>
  <li class="navigation__item"><a href="/feed.xml" class="navigation__link">Feed</a></li>
</ul>
