<ul class="footerNav__list footerNav__list--secondary">
  <li class="footerNav__item"><a href="/credits" title="Licenses and stuff." class="footerNav__link">Credits</a></li>
  <li class="footerNav__item"><a href="/feed.xml" class="footerNav__link">Feed</a></li>
</ul>
