<footer role="contentinfo" class="footer">
  <nav role="navigation" class="footer__nav">
    {% include "footer-nav.njk" %}
	<p class="footer__credits">
		<a href="/credits">Copyright Pete Lambert, {% year %}</a>
	</p>
  </nav>
</footer>
