<ul class="navigation__list">
  <li class="navigation__item"><a href="/journal" title="Posts and essays" class="navigation__link">Journal</a></li>
  <li class="navigation__item"><a href="/contact" title="Contact and stuff" class="navigation__link">Contact</a></li>
  <li class="navigation__item"><a href="/credits" title="Licenses and stuff." class="navigation__link">Credits</a></li>
  <li class="navigation__item"><a href="/feed.xml" class="navigation__link">Feed</a></li>
  <li class="navigation__item">
        <a
          title="Oh, you don't have your personal API yet?"
          href="/meta.json"
          class="navigation__link"
          >API</a
        >
      </li>
      <li class="navigation__item">
        <a
          href="https://{{ meta.mastodon.server }}/{{ meta.mastodon.handle }}"
          class="navigation__link"
          rel="me"
          >Mastodon</a
        >
      </li>
</ul>