.mainHeader {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(auto, 640px) 1fr 1fr ;
  background-color: var(--contrastBackgroundColor);
  color: var(--contrastForegroundColor);
  padding-bottom: 5rem;
  padding-top: 3rem;
  transform: rotate(-3deg) translateX(-5vw) translateY(-3rem);
  width: 110vw;
}


.mainHeader__headline {
  font-weight: 900;
  font-size: var(--fsJumbo);
  line-height: 1.5em;
}

.mainHeader__description {
  font-size: var(--fsBig);
  line-height: 1.5em;
  padding: 0;
}

.mainHeader__headline,
.mainHeader__description{
  grid-column: 3/4;
  transform: rotate(3deg);
  @media (max-width: 640px) {
    padding-left: calc(5vw + 1rem);
    padding-right: calc(5vw + 1rem);
    max-width: 100vw;
  }
}

