.mainHeader {
  display: grid;
  background-color: var(--contrastBackgroundColor);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 3rem), 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 3rem), 0% 100%);
  color: var(--contrastForegroundColor);
  grid-template-columns: 1fr 1fr minmax(auto, 640px) 1fr 1fr;
  grid-column: 1/6;
  padding-bottom: 5rem;
  padding-top: 3rem;
  justify-content: center;

}

.mainHeader__avatar {
  border-radius: 50%;
  box-shadow: 0 0 .5rem .5rem rgba(0,0,0,.1);
  height: 5rem;
  width: 5rem;
}

.mainHeader__headline {
  font-weight: 900;
  font-size: var(--fsBig);
  line-height: 1.5em;
  padding-bottom: 3rem;
}

.mainHeader__description {
  font-size: var(--fsBig);
  line-height: 1.5em;
  padding: 0;
  padding-bottom: 1.5rem;
}

.mainHeader__avatar,
.mainHeader__headline,
.mainHeader__description {
  grid-column: 3/4;
  padding-left: 1rem;
  padding-right: 1rem;
}
