.meta {
  color: var(--lightTextColor);
  font-size: var(--fsLittle);
  font-family: var(--ffNav);
  font-weight: var(--fwReg);
  text-transform: uppercase;
  color: var(--lightTextColor);
  padding-bottom: 1rem;
}
