.post {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  font-size: 1.1em;

  img {
    max-width: 100%;
  }

  ul,
  ol {
    list-style-type: disc;
    padding-left: 0;

    @media (max-width: 640px) {
      padding-left: 1em;
    }
  }

  li {
    margin-bottom: 0.5em;
  }

  h2,
  h3 {
    padding-bottom: 0.5em;
    padding-top: 1em;
  }
}
