:root {
  // Font Sizes
  --baseFontSize: 20px;
  --fsJumbo: 4rem;
  --fsBigger: 2.5rem;
  --fsBig: 1.5rem;
  --fsRegular: 1rem;
  --fsLittle: .75rem;
  // Colors
  --backgroundColor: #e0e0e0;
  --foregroundColor: #454545;
  --linkColor:#336677;
  --linkColor--hover: #48a1be;
  --contrastLinkColor: #fff;
  --contrastLinkColor--hover: #523b4e;
  --contrastBackgroundColor: #b380a9;
  --contrastForegroundColor: #fff;
  --lightTextColor: #565656;
}