:root {
  // Font Sizes
  --baseFontSize: 1em;

  @media (max-width: 40rem) {
    --baseFontSize: 1em;
  }

  --fsJumbo: 3rem;
  --fsBigger: 2.5rem;
  --fsBig: 1.5rem;
  --fsRegular: 1rem;
  --fsLittle: .75rem;

  // Font families
  --ffBody: 'Krub',
  serif;
  --ffHeading: 'Merriweather',
  serif;
  --ffNav: 'Krub',
  sans-serif;
  --ffCode: Consolas,
  monaco,
  monospace;




  // Light mode / default colours
  --backgroundColor: #fcfbfa;
  --foregroundColor: #1a3c53;
  --linkColor:#116986;
  --linkColor--hover: #147c9e;
  --contrastLinkColor: #116986;
  --contrastLinkColor--hover: #147c9e;
  --contrastBackgroundColor: #efefef;
  --contrastForegroundColor: #1a3c53;
  --lightTextColor: rgba(0, 0, 0, .6);

  @media (prefers-color-scheme: dark) {
    // Dark Mode Colours
    --backgroundColor: #1a3c53;
    --foregroundColor: #e0e0e0;
    --linkColor: #98c7d6;
    --linkColor--hover: #6abeda;
    --contrastLinkColor: #fff;
    --contrastLinkColor--hover: #48a1be;
    --contrastBackgroundColor: #195e75;
    --contrastForegroundColor: #fff;
    --lightTextColor: rgba(255, 255, 255, .6);
  }
}
