---
layout: layouts/main
---

<header role="banner" class="mainHeader">
  <h1 class="mainHeader__headline">
    {{ headline }}
  </h1>
  <p class="mainHeader__description">
    {{ meta.description }}
  </p>
</header>

<main role="main" class="mainContent">
  {{ content | safe }}
</main>

