---
layout: layouts/main
---

<main role="main">
  <section class="mainContent">
    <header role="banner" class="mainHeader">
      <img src="/pete-lambert.jpg" alt="Pete Lambert's face" />
      <h1 class="mainHeader__headline">
        {{ headline }}
      </h1>
    </header>
    <article class="page__text">
      {{ content | safe }}
    </article>
  </section>
</main>

