---
ogImage: /assets/images/og-image.png
---
{% from "icon.njk" import icon %}

<!DOCTYPE html>
<html lang="en" class="{{ htmlClass }} {{ slug or page.fileSlug }} site site--light">

  <head itemtype="http://schema.org/Blog" itemscope>
    <title>{{ title }}</title>

    <meta charset="utf-8">

    {% if excerpt or description %}
    <meta name="description" content="{{ excerpt or description }}">
    {% endif %}
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Pete Lambert">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles-->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Chuff It: Pete Lambert's RSS feed" href="/rss.xml">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="canonical" itemprop="url" href="{{ page.url | canonicalUrl }}">
    <link rel="author" href="https://www.petelambert.com">

    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{ page.url | canonicalUrl }}">
    <meta property="og:site_name" itemprop="name" content="Pete Lambert">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{{ogImage | canonicalUrl}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    {% if excerpt or description %}
    <meta property="og:description" content="{{ excerpt or description }}">
    {% endif %}

    {% if tags === 'posts' %}
    <meta property="article:author" content="https://www.petelambert.com">
    <meta property="article:tag" content="{{keywords}}">
    <meta property="article:published_time" content="{{page.date | toISODate}}">
    {% endif %}
  </head>

  <body>

    {% include "navigation.njk" %}

    {{ content | safe }}

    {% include "footer.njk" %}


    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

  </body>

</html>
