---
layout: layouts/main
---

<main role="main" class="mainContent">
  <article class="page">
    <h1 class="page__title">{{ title }}</h1>

    <div class="page__text">
      {{ content | safe }}
    </div>
  </article>
</main>
