.footer {
  background-color: var(--contrastBackgroundColor);
  -webkit-clip-path: polygon(0 3rem, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 3rem, 100% 0%, 100% 100%, 0% 100%);
  color: var(--contrastForegroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-self: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.footer__credits {
  font-family: var(--ffNav);
  font-weight: var(--fwReg);
  font-size: var(--fsLittle);
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 640px) {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100vw;
  }
}
