.footer {
  background: var(--backgroundComp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 3rem, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 3rem, 100% 0%, 100% 100%, 0% 100%);
  color: var(--contrastForegroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-self: center;
  margin-top: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
  width: 100%;
}

.footer__credits {
  font-family: var(--ffNav);
  font-weight: var(--fwReg);
  font-size: var(--fsLittle);
  a {
    display: inline-block;
    padding: 0.5rem;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 640px) {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100vw;
  }
}
