.mainContent {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  & :is(ul, ol):not([class]) {
    padding-left: 0;
    ::marker {
      color: var(--borderColor);
    }
    @media (max-width: 640px) {
      padding-left: 1em;
    }
  }
  ul:not([class]) {
    ::marker {
      content: '❥';
      content: '✪';
    }
  }

  li:not([class]) {
    margin-bottom: 0.5em;
    margin-left: 1rem;
    padding-left: 0.75rem;
  }

  h2,
  h3 {
    padding-bottom: 0.5em;
    padding-top: 1em;
  }
}

.mainContent__body {
  max-width: var(--textContentWidth);
}
