.navigation {
  background-color: var(--contrastBackgroundColor);
  color: var(--contrastForegroundColor);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation__lists {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(auto, var(--containerWidth)) 1fr 1fr;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  grid-column: 3/4;
  list-style: none;
  padding-bottom: 0;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.navigation__link {
  align-items: center;
  color: var(--contrastLinkColor);
  display: flex;
  font-size: var(--fsLittle);
  font-family: var(--ffNav);
  font-weight: var(--fwReg);
  padding: 1rem 0.75rem;
  text-decoration: none;
  transition: 0.3s ease-in-out all;
  white-space: nowrap;
  &:hover {
    background-image: linear-gradient(
      180deg,
      hsla(var(--hue), var(--saturation), 10%, 5%) 0%,
      hsla(var(--hue), var(--saturation), 10%, 0%) 100%
    );
    color: var(--contrastLinkColor--hover);
    text-decoration: none;
  }
}

.navigation__logo--small {
  display: none;
}
@media screen and (max-width: 768px) {
  .navigation__logo--small {
    display: block;
  }
  .navigation__logo--large {
    display: none;
  }
}

.navigation__item {
  align-items: stretch;
  display: flex;
}

.navigation__item--home {
  font-weight: var(--fwBold);
  margin-right: auto;
}

.navigation__item--current:not(.navigation__item--home) {
  position: relative;
  &::after {
    border-bottom: 2px solid var(--contrastLinkColor);
    bottom: 0;
    content: '';
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
  }
}
