.posts__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-family: var(--ffNav);
  font-weight: var(--fwReg);
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.posts__item:first-child {
  padding-top: 0;
}

.pagination {
  text-align: center;
}
