body {
  background-color: var(--backgroundColor);
  /* background-image: var(--backgroundOverlay), var(--backgroundOverlay),
    var(--backgroundImage); 
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.site {
  color: var(--foregroundColor);
  font-size: var(--baseFontSize);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-padding-top: 4rem;
}
