body {
  background-color: var(--contrastBackgroundColor);
}

.site {
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
  font-size: var(--baseFontSize);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-padding-top: 4rem;
}
