body {
  font-size: var(--baseFontSize);
  font-family: var(--ffBody);
  font-weight: 100;
  line-height: var(--lhRegular);
}

p,
ul,
ol {
  padding-bottom: 1.5em;
}

h1,
h2,
h3,
h4 {
  clear: both;
  font-family: var(--ffHeading);
  font-weight: var(--fwSemiBold);
  line-height: var(--lhCompact);
}

h1 {
  font-size: var(--fsBigger);
}

h2 {
  font-size: var(--fsBig);
}

h3 {
  font-size: var(--fsRegular);
}

a {
  color: var(--foregroundColor);
  text-decoration: underline;
  text-decoration-color: var(--secondaryColor);
  text-decoration-thickness: 2px;
  transition: 0.3s all ease;
  &:hover {
    color: var(--linkColor);
    text-decoration-color: var(--linkColor--hover);
  }
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 2px solid var(--borderColor);
  font-style: italic;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  font-size: var(--fsBig);
  line-height: var(--lhRegular);
}

table {
  width: 100%;
}

th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Merriweather, serif;
  font-weight: 600;
  text-align: left;
}

th,
td {
  padding: 0.5rem;
}

pre,
code {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: var(--fsRegular);
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
  padding: 1rem;
  white-space: pre-wrap;
}

code {
  font-style: normal;
  max-width: none;
  padding: 0 0.25em;
  white-space: normal;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  clear: both;
  margin: 2rem 0;
}
