---
title: Journal
description: I'm Pete Lambert; husband, father, musician, web UI engineer and keen cyclist from Yorkshire. This is where things land when they fall out of my head.
layout: main
permalink: /journal
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
---

<main role="main" class="mainContent">
  <header role="banner" class="mainHeader">
    <h1 class="mainHeader__headline">
      Journal
    </h1>
  </header>
  <div class="page__text">

  <ol class="posts">
    {% for post in posts %}

      <li class="posts__item">
        <article class="{% if post.data.link %}linked{% endif %} postSummary">
          <header class="post__header">
            {% if post.data.link %}
              <h2 class="post__headline">
                <a title="{{ post.data.link }}" href="{{ post.data.link }}">
                  {{ post.data.title }} →</a>
              </h2>
            {% else %}
              <h2 class="post__headline">
                <a href="{{ post.url }}">
                  {{ post.data.title }}
                </a>
              </h2>
            {% endif %}

            </header>
            
            <p class="meta">
              <time datetime="{{ post.date | dateToISO }}" pubdate class="meta__pubDate">{{ post.date | niceDate }}</time>
              {% if post.data.link %}
                /
                <a class="meta__permalink" href="{{ post.url }}">Permalink</a>
              {% else %}
                /
                <span class="meta__stats">{{ post | readingTime }}</span>
              {% endif %}

              {% if post.data.draft %}
                <strong class="meta__status meta__status--draft">Draft</strong>
              {% endif %}
            </p>

            <div class="post__excerpt">
              <p>{{ post.data.excerpt }}</p>
              <p><a href="{{ post.url }}">Continue reading&hellip;</a></p>
            </div>
          </article>
        </li>

      {% endfor %}
    </ol>
  </div>

  <footer class="pagination">
    <p>
      {% if pagination.previousPageLink %}
        <a rel="prev" href="{{ pagination.previousPageLink }}" class="pagination__link pagination__link--newer">← Newer</a>
        <span class="pagination__separator">/ </span>
      {% endif %}

      <span class="pagination__separator">{{collections.allPosts.length }} posts</span>

      {% if pagination.nextPageLink %}
        <span class="pagination__separator"> /</span>
        <a rel="next" href="{{ pagination.nextPageLink }}" class="pagination__link pagination__link--older">Older →</a>
      {% endif %}
    </p>

  </footer>

</main>
