:root {
  // Font Sizes
  --baseFontSize: 1.05em;

  @media (max-width: 40rem) {
    --baseFontSize: 1.05em;
  }

  // Font sizes
  --fsJumbo: 3rem;
  --fsBigger: 2.5rem;
  --fsBig: 1.5rem;
  --fsRegular: 1rem;
  --fsLittle: 0.875rem;

  // Font weights
  --fwLight: 200;
  --fwReg: 400;
  --fwSemiBold: 600;
  --fwBold: 700;

  // Line heights
  --lhRegular: 1.625;
  --lhCompact: 1.25;

  // Font families
  --ffBody: 'Rokkit', Georgia, serif;
  --ffHeading: 'Rokkit', Georgia, serif;
  --ffNav: 'Rokkit', Arial, Helvetica, sans-serif;
  --ffCode: Consolas, monaco, monospace;

  // Widths
  --textContentWidth: 48rem;
  --containerWidth: var(--textContentWidth);

  // Primary Accent Color
  --primaryColor: hsl(230, 31%, 46%);
  --secondaryColor: hsl(40, 100%, 50%);
  --hue: 230;
  --saturation: 31%;

  // Colour scale
  --c0: hsla(var(--hue), var(--saturation), 90%, 100%);
  --c1: hsla(var(--hue), var(--saturation), 80%, 100%);
  --c2: hsla(var(--hue), var(--saturation), 70%, 100%);
  --c3: hsla(var(--hue), var(--saturation), 60%, 100%);
  --c4: hsla(var(--hue), var(--saturation), 50%, 100%);
  --c5: hsla(var(--hue), var(--saturation), 40%, 100%);
  --c6: hsla(var(--hue), var(--saturation), 30%, 100%);
  --c7: hsla(var(--hue), var(--saturation), 20%, 100%);
  --c8: hsla(var(--hue), var(--saturation), 10%, 100%);

  // Background colors
  --bgLight: hsla(var(--hue), var(--saturation), 94%, 100%);
  --bgLight2: hsla(var(--hue), var(--saturation), 90%, 100%);
  --bgDark: hsla(var(--hue), var(--saturation), 15%, 100%);
  --bgDark2: hsla(var(--hue), var(--saturation), 10%, 100%);

  // Color theme
  --backgroundColor: var(--bgLight);
  --foregroundColor: var(--c8);
  --linkColor: var(--c5);
  --linkColor--hover: var(--c6);
  --contrastLinkColor: var(--c6);
  --contrastLinkColor--hover: var(--c5);
  --contrastBackgroundColor: var(--bgLight2);
  --contrastForegroundColor: var(--c8);
  --lightTextColor: var(--c8);
  --borderColor: var(--c4);
  --secondaryAccent: hsla(var(--secondaryAccentHue), 100%, 50%, 100%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: var(--bgDark);
    --foregroundColor: var(--c0);
    --linkColor: var(--c2);
    --linkColor--hover: var(--c3);
    --contrastLinkColor: var(--c1);
    --contrastLinkColor--hover: var(--c2);
    --contrastBackgroundColor: var(--bgDark2);
    --contrastForegroundColor: var(--c0);
    --lightTextColor: var(--c1);
    --borderColor: var(--c6);
  }
}
