---
layout: main
---

<main role="main">
  <section class="mainContent">
    <header role="banner" class="mainHeader">
      <h1 class="mainHeader__headline">
        {{ headline }}
      </h1>
    </header>
    <article class="page__text">
      {{ content | safe }}
    </article>
  </section>
</main>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

