---
ogImage: /assets/images/og-image.png
---
{% from "icon.njk" import icon %}

<!DOCTYPE html>
<html lang="en" class="{{ htmlClass }} {{ slug or page.fileSlug }} site">

  <head itemtype="http://schema.org/Blog" itemscope>
    <title>{{ title }} {% if slug != 'home' %} ~ Pete Lambert {% endif %}</title>

    <meta charset="utf-8">

    {% if excerpt or description %}
    <meta name="description" content="{{ excerpt or description }}">
    {% endif %}
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Pete Lambert">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Styles-->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Pete Lambert ~ Journal" href="/feed.xml">

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="canonical" itemprop="url" href="https://www.petelambert.com{{ page.url }}">
    <link rel="author" href="https://www.petelambert.com">
    <link rel="me" href="https://www.twitter.com/peterjlambert">
    <link rel="me" href="https://www.instagram.com/peterjlambert">
    <link rel="me" href="https://www.github.com/peterjlambert">
    <link rel="me" href="https://mastodon.cloud/@petelambert">
    <link rel="webmention" href="https://webmention.io/www.petelambert.com/webmention" />
    <link rel="pingback" href="https://webmention.io/www.petelambert.com/xmlrpc" />

    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="{{ page.url  }}">
    <meta property="og:site_name" itemprop="name" content="Pete Lambert">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{{ogImage}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    {% if excerpt or description %}
    <meta property="og:description" content="{{ excerpt or description }}">
    {% endif %}

    {% if tags === 'posts' %}
    <meta property="article:author" content="https://www.petelambert.com">
    <meta property="article:tag" content="{{keywords}}">
    <meta property="article:published_time" content="{{page.date | dateToISO}}">
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>

  </head>

  <body>

    {% include "navigation.njk" %}

    {{ content | safe }}

    {% include "footer.njk" %}


  </body>

</html>
