---
layout: main
---
<main role="main" class="mainContent">
  <header role="banner" class="mainHeader">
    <h1 class="mainHeader__headline">
      {{ title }}
    </h1>
    {% if description %}
    <p class="mainHeader__description">
      {{ description }}
    </p>
    {% endif %}
  </header>
  <article class="page">
    <div class="page__text">
      {{ content | safe }}
    </div>
  </article>
</main>
