---
permalink: meta.json
---
{
  "version": "{{ pkg.version }}",
  "description": "{{ meta.description | safe }}",
  "shortbio": "{{ meta.shortbio | safe }}",
  "site": "{{ meta.site }}",
  "github": "{{ meta.github }}",
  "twitter": "{{ meta.twitter }}",
  "email": "{{ meta.email }}"
}
