---
permalink: meta.json
---
{
  "version": "{{ pkg.version }}",
  "description": "{{ meta.description | safe }}",
  "shortbio": "{{ meta.shortbio | safe }}",
  "site": "{{ meta.site }}",
  "music": "{{meta.music}}",
  "github": "{{ meta.github }}",
  "mastodon": {
    "server": "{{ meta.mastodon.server }}",
    "handle": "{{ meta.mastodon.handle }}"
  }
  "email": "{{ meta.email }}"
}
